<div class="bg-gray-800">
    <div class="container py-12 px-4 sm:px-6 lg:py-16 lg:px-8">
        <div class="xl:grid xl:grid-cols-3 xl:gap-8">
            <div class="my-8 xl:my-0 ">
                <img src="/assets/images/elus.png"/>
            </div>
            <div class="gap-8 xl:col-span-2 lg:items-center lg:justify-between">
                <p class="mt-4 text-gray-400 text-base">Vous pouvez nous contacter par email à <a href="mailto:{{ site.email }}">{{ site.email }}</a>.</p>

                <p class="mt-4 text-gray-400 text-base">
                <span>Copyright © <script>document.write(new Date().getFullYear())</script>.</span></p>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="{{ "/assets/js/alpine.js" | relative_url }}" async="" defer="defer"></script>