<nav x-data="{mobileNav: false}" class="relative py-8 z-10">
    <div class="container">
        <nav class="relative flex items-center justify-between sm:h-10 md:justify-center">
            <div class="flex items-center flex-1 md:absolute md:inset-y-0 md:left-0">
                <div class="flex items-center justify-between w-full md:w-auto">
                    <a href="/index.html"><img class="h-8 w-auto sm:h-10 -mt-2" src="/assets/images/logo.png" alt="{{ site.title }}"></a>
                    <div class="-mr-2 flex items-center md:hidden"> <button @click="mobileNav = true" type="button" class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 focus:text-gray-500 transition duration-150 ease-in-out"> <svg class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path> </svg> </button> </div>
                </div>
            </div>
            <div class="hidden md:block">
                {% assign sorted_tags = site.tags | sort %}
                {% for tag in sorted_tags %}
                <a href="/tags/{{ tag[0] | slugify }}/index.html" class="ml-8 font-medium text-gray-500 hover:text-gray-900 focus:outline-none focus:text-gray-900 transition duration-150 ease-in-out">{{ tag[0] }}</a>
                {% endfor %}
                <a href="/pensees.html" class="ml-8 font-medium text-gray-500 hover:text-gray-900 focus:outline-none focus:text-gray-900 transition duration-150 ease-in-out">Pensées</a>
            </div>



            <div class="hidden md:absolute md:flex md:items-center md:justify-end md:inset-y-0 md:right-0">
                <ul class="flex">
                    {% if site.twitter_username %}
                    <li>
                        <div class="inline-flex">  <a href="https://twitter.com/{{ site.twitter_username }}" class="font-medium text-gray-500 hover:text-gray-900 focus:outline-none focus:text-gray-900 pl-6 pr-12 twitter-icon">Twitter</a>
                        </div>
                    </li>
                    {% endif %}
                    <li>
                        <div class="inline-flex">  <a href="mailto:{{ site.email }}" class="font-medium text-gray-500 hover:text-gray-900 focus:outline-none focus:text-gray-900 pl-6">Contact</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <div x-show="mobileNav" style="display: none;" class="absolute top-0 inset-x-0 p-2 md:hidden">
            <div class="rounded-lg shadow-md transition transform origin-top-right" x-show="open" x-transition:enter="duration-150 ease-out" x-transition:enter-start="opacity-0 scale-95" x-transition:enter-end="opacity-100 scale-100" x-transition:leave="duration-100 ease-in" x-transition:leave-start="opacity-100 scale-100" x-transition:leave-end="opacity-0 scale-95">
                <div class="rounded-lg bg-white shadow-xs overflow-hidden">
                    <div class="px-5 pt-4 flex items-center justify-between">
                        <div> <img class="h-8 w-auto" src="/assets/images/logo.png" alt=""> </div>
                        <div class="-mr-2"> <button @click="mobileNav = false" type="button" class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 focus:text-gray-500 transition duration-150 ease-in-out"> <svg class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path> </svg> </button> </div>
                    </div>

                    <div> 
                        <a href="/" class="block w-full px-5 py-3 text-center font-medium text-indigo-600 bg-gray-50 hover:bg-gray-100 hover:text-indigo-700 focus:outline-none focus:bg-gray-100 focus:text-indigo-700 transition duration-150 ease-in-out"> Tous les articles </a>
                        {% for tag in sorted_tags %}
                        <a href="/tags/{{ tag[0] | slugify }}/index.html" class="block w-full px-5 py-3 text-center font-medium text-indigo-600 bg-gray-50 hover:bg-gray-100 hover:text-indigo-700 focus:outline-none focus:bg-gray-100 focus:text-indigo-700 transition duration-150 ease-in-out"> {{ tag[0] }} </a>
                        {% endfor %}
                        <a href="/pensees.html" class="block w-full px-5 py-3 text-center font-medium text-indigo-600 bg-gray-50 hover:bg-gray-100 hover:text-indigo-700 focus:outline-none focus:bg-gray-100 focus:text-indigo-700 transition duration-150 ease-in-out">Pensées</a>
                        <a href="https://twitter.com/{{ site.twitter_username }}" class="border-t border-gray-200 block w-full px-5 py-3 text-center font-medium text-indigo-600 bg-gray-50 hover:bg-gray-100 hover:text-indigo-700 focus:outline-none focus:bg-gray-100 focus:text-indigo-700 transition duration-150 ease-in-out"> Contact </a>
                        {% if site.twitter_username %}
                        <a href="https://twitter.com/{{ site.twitter_username }}" class="block w-full px-5 py-3 text-center font-medium text-indigo-600 bg-gray-50 hover:bg-gray-100 hover:text-indigo-700 focus:outline-none focus:bg-gray-100 focus:text-indigo-700 transition duration-150 ease-in-out"> Twitter </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
</nav>