<!--  Replace menu links here -->

<li class="nav-item">
<a class="nav-link {% if page.url == '/pensees.html' %} active {% endif %}" href="{{site.baseurl}}/pensees.html">Pensées</a>
</li>
<li class="nav-item">
<a class="nav-link {% if page.url == '/tags/climat.html' %} active {% endif %}" href="{{site.baseurl}}/tags/climat.html">Climat</a>
</li>
<li class="nav-item">
<a class="nav-link {% if page.url == '/tags/club-med.html' %} active {% endif %}" href="{{site.baseurl}}/tags/club-med.html">Club Med</a>
</li>
<li class="nav-item">
<a class="nav-link {% if page.url == '/tags/le-grand-bo.html' %} active {% endif %}" href="{{site.baseurl}}/tags/le-grand-bo.html">Le Grand-Bo</a>
</li>
<li class="nav-item">
<a class="nav-link {% if page.url == '/contact.html' %} active {% endif %}" href="{{site.baseurl}}/contact.html">Contact</a>
</li>
