<!--  Replace menu links here -->

<li class="nav-item">
<a class="nav-link {% if page.url == '/pensees.html' %} active {% endif %}" href="{{site.baseurl}}/pensees.html">Pensées</a>
</li>
<li class="nav-item">
<a class="nav-link {% if page.url == '/tags/environnement.html' %} active {% endif %}" href="{{site.baseurl}}/tags/environnement.html">Environnement</a>
</li>
<li class="nav-item">
<a class="nav-link {% if page.url == '/tags/le-grand-bornand.html' %} active {% endif %}" href="{{site.baseurl}}/tags/le-grand-bornand.html">Le Grand-Bornand</a>
</li>
<li class="nav-item">
<a class="nav-link {% if page.url == '/tags/montagne.html' %} active {% endif %}" href="{{site.baseurl}}/tags/montagne.html">Montagne</a>
</li>

<li class="nav-item">
<a class="nav-link {% if page.url == '/contact.html' %} active {% endif %}" href="{{site.baseurl}}/contact.html">Contact</a>
</li>
