---
layout: default
---
<article class="container max-w-screen-sm my-12 md:my-16">
  {%- if page.cover -%}
        <div class="max-w-5xl mx-auto rounded shadow-2xl mb-6">
            <img src="{{ page.cover | relative_url }}" >
        </div>
        {%- endif -%}

	<div>
	  <time class="uppercase pr-4 text-xs text-gray-500 font-bold">
{% assign m = page.date | date: "%-m" %}
{{ page.date | date: "%-d" }}
{% case m %}
  {% when '1' %}Janvier
  {% when '2' %}Février
  {% when '3' %}Mars
  {% when '4' %}Avril
  {% when '5' %}Mai
  {% when '6' %}Juin
  {% when '7' %}Juillet
  {% when '8' %}Août
  {% when '9' %}Septembre
  {% when '10' %}Octobre
  {% when '11' %}Novembre
  {% when '12' %}Décembre
{% endcase %}
{{ page.date | date: "%Y" }}
      </time> 
     
     {% for tag in page.tags %}
       <span class="tag"><a href="/tags/{{ tag | slugify }}/index.html" class="uppercase text-xs text-gray-500 font-bold">{{ tag }}</a></span>
     {% endfor %}
   </div>
    <header>
        <h1 class="mt-4 text-3xl tracking-tight leading-10 font-extrabold text-gray-900 sm:text-4xl sm:leading-none md:text-5xl">{{ page.title | escape }}</h1>
    </header>
    <div class="prose mt-8">
        {{ content }}
    </div>
    
    <div class="mt-6">
        <a href="/" class="text-base leading-6 font-semibold text-color2 hover:text-color1 transition ease-in-out duration-150 hover-underline">← Retour</a>
    </div>
</article>